*{
    padding: 0%;
    margin: 0%;
}


header{
    background-color: royalblue;
    height: 42px;
}
#heading1{
    text-align: center;
    color: white;
    padding-top: 2px;
    text-shadow: 5px 5px 5px black;
}
#heading2{
    padding-top: 10px;
}
img{
    filter: drop-shadow( 10px 10px 10px black);
}
#div1 {
    width: calc(100% - 60px);
    height: 380px;
    background-color: white;
    border-radius: 5px;
    border: 2px solid black;
    padding-left: 15px;
    margin-top: 15px;
    margin-left: 20px;
    margin-right: 20px;
    filter: brightness(120%);
}
#div2{
    width: calc(100% - 60px);
    height: 200px;
    background-color: white;
    border-radius: 5px;
    border: 2px solid black;
    margin-top: 15px;
    margin-left: 20px;
    margin-right: 20px;
    filter: brightness(120%);
     padding-left: 20px;

}
footer{
    height: 40px;
    text-align: center ;
    margin-top: 20px;
    padding-top: 5px;
    background-color: royalblue;
    filter: brightness(120%);
    color: white;
    text-shadow: 5px 5px 5px black;
    
}
body{
    background-color: aliceblue;
}
